.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-top-right {
  align-items: start;
  justify-content: end;
}

.items-center {
  align-items: center;
}

.gap{
  gap: 1rem;
}

.spacer {
  flex: 1 1 auto;
}