.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-top-right {
  align-items: start;
  justify-content: end;
}

.items-center {
  align-items: center;
}

.gap-1 {
  gap: 1rem;
}

.spacer {
  flex: 1 1 auto;
}

.pre {
  white-space: pre;
}

.wh {
  min-height: 95%;
  min-width: 100px;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
