.flex {
  display: flex;
}

.flex-row {
  flex-direction: column;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.items-center {
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}

.app-header {
  margin: 0;
}